<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/fd57fad7-ae70-4021-a198-030242f0f749/resourcegroups/AsistenciaProcess20240501092217ResourceGroup/providers/Microsoft.Web/sites/AsistenciaProcess</ResourceId>
    <ResourceGroup>AsistenciaProcess20240501092217ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/fd57fad7-ae70-4021-a198-030242f0f749/resourceGroups/AsistenciaProcess20240501092217ResourceGroup/providers/Microsoft.ApiManagement/service/AsistenciaProcessApi/apis/AsistenciaProcess</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://asistenciaprocess.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>3dbbaebb-9e70-49af-b424-974ef6c8d38e</ProjectGuid>
    <MSDeployServiceURL>asistenciaprocess.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AsistenciaProcess</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$AsistenciaProcess</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>